{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block main %}
<div class="card mx-auto my-5" style="max-width: 500px;">
    <div class="card-body">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>ABOUT US</h1>
                        <p>
                           


                            <h3>About Bike Haven</h3>
                            
                            Welcome to Bike Haven, where two-wheel dreams become a thrilling reality. At Bike Haven, we're not just a store; we're a sanctuary for motorcycle enthusiasts and those who are about to embark on an exhilarating journey into the world of motorcycling.
                            
                            Our Passion for Two-Wheel Freedom
                            
                            Bike Haven was born out of a passion for motorcycles and a deep appreciation for the sense of freedom they provide. Our founders, avid riders themselves, envisioned a place where riders of all levels could come together to explore their love for motorcycling, share experiences, and find the perfect machines and gear to suit their style and needs.
                            
                            <br>
                            <h3>A Destination for Riders</h3>
                            
                            Situated in the heart of [Your City], Bike Haven is more than just a place to buy motorcycles and accessories. It's a hub for the riding community, a place to connect, learn, and experience the open road in the best way possible. We take pride in offering a wide range of services that cater to all aspects of the motorcycling world, from the latest models to expert repairs, customizations, and everything in between.
                            
                            <br>
                            <h3>Our Commitment to Quality</h3>
                            
                            At Bike Haven, we understand the value of quality. That's why we carefully select the brands and products we offer, ensuring that each item in our inventory meets the highest standards. We're committed to helping you make well-informed choices, providing expert advice on motorcycles, gear, and accessories.
                            
                            <br>
                            <h3>More Than a Store</h3>
                            
                            Bike Haven is more than just a store; it's a community of riders who share a common love for the open road. We regularly host events, rides, and workshops, fostering a sense of camaraderie among our customers. Whether you're a seasoned rider or just starting your journey, our team is here to support you every step of the way.
                                                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



{% endblock %}
